.icon-btn {
  --uno: inline-block cursor-pointer select-none important-outline-none;
  --uno: opacity-75 transition duration-200 ease-in-out align-middle rounded p-2;
  --uno: hover-(opacity-100 bg-gray-400 bg-opacity-10);
}

.icon-btn.disabled {
  --uno: opacity-25 pointer-events-none;
}

.inline-icon-btn {
  --uno: text-primary-deep;
  --uno: inline-block rounded p-0.5 text-2xl align-middle;
  --uno: border border-primary border-opacity-20 border-solid;
}

[data-tweet-id] {
  border-radius: 13px;
}
