.custom-block.tip,
.custom-block.warning,
.custom-block.danger {
  margin: 2rem 0 1rem 0;
  border-left: .5rem solid;
  padding: .1rem 1.5rem;
  overflow-x: auto;
}

.custom-block.tip {
  background-color: var(--c-bg-secondary);
  border-color: #42b983;
}

.custom-block.warning {
  border-color: #e7c000;
  background-color: rgba(255, 229, 100, .3);
}

.custom-block.warning .custom-block-title {
  color: #b29400;
}

.custom-block.warning a {
  color: var(--c-text);
}

.custom-block.danger {
  border-color: #c00;
  background-color: #ffe6e6;
}

.custom-block.danger .custom-block-title {
  color: #900;
}

.custom-block.danger a {
  color: var(--c-text);
}

.custom-block.details {
  position: relative;
  display: block;
  border-radius: 2px;
  margin: 1.6em 0;
  padding: 1.6em;
  background-color: #eee;
}

.custom-block.details h4 {
  margin-top: 0;
}

.custom-block.details figure:last-child,
.custom-block.details p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.custom-block.details summary {
  outline: none;
  cursor: pointer;
}

.custom-block-title {
  display: none;
}
