@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

html,
body,
#app {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

html {
  @apply bg-main;
}
