{
  "env": {
    "node": true,
    "cypress/globals": true
  },
  "globals": {
    "__DEV__": true,
    "__SLIDEV_FEATURE_DRAWINGS__": true
  },
  "extends": "@antfu",
  "plugins": ["cypress"],
  "rules": {
    "vue/no-lone-template": "off",
    "vue/require-prop-types": "off",
    "vue/require-default-prop": "off",
    "import/named": "off",
    "import/namespace": "off"
  }
}
