.DS_Store
.eslintcache
.idea
.nuxt
.output
.slidev
.vite-inspect
*-export
*.local
*.pdf
assets/demo
components.d.ts
composable-vue-cn
dist
dist-ssr
docs/.vitepress/@slidev
docs/.vitepress/cache
node_modules
packages/create-app/template/pages
packages/create-app/template/slides.md
packages/create-app/template/snippets
packages/slidev/README.md
packages/vscode/syntaxes/codeblock-patch.json
slides-export.md
*slides-export.pptx
