@import 'prism-theme-vars/base.css';
@import 'codemirror-theme-vars/base.css';
@import 'prism-theme-vars/to-codemirror.css';

:root {
  --prism-font-family: theme('fontFamily.mono');
  --prism-font-size: 12px;
  --prism-block-radius: 0;
  --prism-inline-radius: 0;
  --prism-block-padding-x: 0;
  --prism-block-padding-y: 0;
  --prism-foreground: #393a34;
  --prism-background: #f8f8f8;
  --prism-comment: #a0ada0;
  --prism-string: #b56959;
  --prism-literal: #2f8a89;
  --prism-number: #296aa3;
  --prism-keyword: #1c6b48;
  --prism-function: #6c7834;
  --prism-boolean: #1c6b48;
  --prism-constant: #a65e2b;
  --prism-deleted: #a14f55;
  --prism-class: #2993a3;
  --prism-builtin: #ab5959;
  --prism-property: #b58451;
  --prism-namespace: #b05a78;
  --prism-punctuation: #8e8f8b;
  --prism-decorator: #bd8f8f;
  --prism-regex: #ab5e3f;
  --prism-json-property: #698c96;
}

pre[class*='language-'] {
  @apply p-2;
}

:not(pre) > code {
  font-size: 0.9em;
  background: var(--prism-background);
  @apply font-light py-0.5;
}


:not(pre) > code:before,
:not(pre) > code:after {
  content: '`';
  opacity: 0.50;
}

:not(pre) > code:before {
  margin-right: -0.08em;
}
