:root {
  --slidev-transition-duration: 0.3s;
}

/* slide-left: forward navigation */
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all var(--slidev-transition-duration) ease;
}

.slide-left-enter-from,
.slide-right-leave-to {
  translate: 100% 0;
}

.slide-left-leave-to,
.slide-right-enter-from {
  translate: -100% 0;
}

/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity var(--slidev-transition-duration) ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
