@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

html,
body,
#app {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

html {
  @apply bg-main;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-teal-600 opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}
