html,
body,
#app,
#page-root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  @apply font-sans;
}

html {
  background: transparent;
}

.slidev-icon-btn {
  @apply inline-block cursor-pointer select-none !outline-none;
  @apply opacity-75 transition duration-200 ease-in-out align-middle rounded p-1;
  @apply hover:(opacity-100 bg-gray-400 bg-opacity-10);
  @apply md:p-2;
}

.slidev-icon-btn.shallow {
  @apply opacity-30
}

.slidev-icon-btn.active {
  @apply opacity-100
}

.slidev-icon-btn.disabled {
  @apply opacity-25 pointer-events-none;
}

.slidev-vclick-target {
  @apply transition-opacity duration-100;
}

.slidev-vclick-hidden {
  @apply !opacity-0 !pointer-events-none;
}

.slidev-vclick-fade {
  @apply opacity-50;
}

.slidev-icon {
  display: inline-block;
  vertical-align: sub;
  line-height: 1em;
}

.slidev-page {
  @apply absolute top-0 left-0 right-0 w-full relative;
}
