:root {
  --slidev-code-background: #f5f5f5;
  --slidev-code-foreground: #1b1b1b;
  --slidev-code-font-family: theme('fontFamily.mono');
  --slidev-code-padding: 8px;
  --slidev-code-font-size: 12px;
  --slidev-code-line-height: 18px;
  --slidev-code-radius: 4px;
  --slidev-code-margin: 4px 0;
  --slidev-theme-primary: #3ab9d5;

  --slidev-transition-duration: 0.5s;
  --slidev-slide-container-background: black;
  --slidev-controls-foreground: white;
}

html.dark {
  --slidev-code-background: #1b1b1b;
  --slidev-code-foreground: #eee;
}
