*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
/* 
* {
  scrollbar-color: var(--c-divider-light) var(--c-bg);
}
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}
::-webkit-scrollbar:horizontal {
  height: var(--scrollbar-width);
}
::-webkit-scrollbar-track {
  background: var(--c-bg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-divider-dark);
}
*:hover::-webkit-scrollbar-thumb {
  background: var(--c-divider-light);
} */

html {
  line-height: 1.4;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.4;
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 400;
  color: var(--c-text);
  background-color: var(--c-bg);
  direction: ltr;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: 600;
}

h1:hover .header-anchor,
h1:focus .header-anchor,
h2:hover .header-anchor,
h2:focus .header-anchor,
h3:hover .header-anchor,
h3:focus .header-anchor,
h4:hover .header-anchor,
h4:focus .header-anchor,
h5:hover .header-anchor,
h5:focus .header-anchor,
h6:hover .header-anchor,
h6:focus .header-anchor {
  opacity: 1;
}

h1 {
  margin-top: 1.5rem;
  font-size: 1.9rem;
}

@media screen and (min-width: 420px) {
  h1 {
    font-size: 2.2rem;
  }
}

h2 {
  margin-top: 2.25rem;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid var(--c-divider);
  padding-bottom: 0.3rem;
  line-height: 1.25;
  font-size: 1.65rem;
  /* overflow-x: auto; */
}

h2 + h3 {
  margin-top: 1.5rem;
}

h3 {
  margin-top: 2rem;
  font-size: 1.35rem;
}

h4 {
  font-size: 1.15rem;
}

p,
ol,
ul {
  margin: 1rem 0;
  line-height: 1.7;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

a {
  text-decoration: none;
  color: var(--c-brand);
}

a:hover {
  text-decoration: underline;
}

a.header-anchor {
  float: left;
  margin-top: 0.125em;
  margin-left: -0.87em;
  padding-right: 0.23em;
  font-size: 0.85em;
  opacity: 0;
}

a.header-anchor:hover,
a.header-anchor:focus {
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

ul,
ol {
  padding-left: 1.25em;
}

li > ul,
li > ol {
  margin: 0;
}

table {
  @apply w-full;
}

tr {
  @apply border-b border-gray-400 border-opacity-20;
}

th {
  @apply text-left font-600;
}

td, th {
  @apply p-1 py-2;
}

blockquote {
  margin: 1rem 0;
  border-left: 0.2rem solid #8885;
  padding: 0.25rem 0 0.25rem 1rem;
  font-size: 1rem;
  color: var(--c-text);
  @apply bg-gray-400 bg-opacity-10;
}

kbd {
  @apply border border-gray-400 border-b-2 border-opacity-20 rounded;
  @apply bg-gray-400 bg-opacity-5 py-0.5 px-2 text-sm text-center font-mono;
}

blockquote > p {
  margin: 0;
}

form {
  margin: 0;
}

.theme.sidebar-open .sidebar-mask {
  display: block;
}

.theme.no-navbar > h1,
.theme.no-navbar > h2,
.theme.no-navbar > h3,
.theme.no-navbar > h4,
.theme.no-navbar > h5,
.theme.no-navbar > h6 {
  margin-top: 1.5rem;
  padding-top: 0;
}

.theme.no-navbar aside {
  top: 0;
}

@media screen and (min-width: 720px) {
  .theme.no-sidebar aside {
    display: none;
  }

  .theme.no-sidebar main {
    margin-left: 0;
  }
}

.sidebar-mask {
  position: fixed;
  z-index: 2;
  display: none;
  width: 100vw;
  height: 100vh;
}

.nav-btn {
  display: flex;
  font-size: 1.05rem;
  border: 0;
  outline: none;
  background: none;
  color: var(--c-text);
  opacity: 0.8;
  cursor: pointer;
}
.nav-btn:hover {
  opacity: 1;
}
.nav-btn svg {
  margin: auto;
}
.external-link {
  font-size: 0.95rem;
  opacity: 0.7;
}

.icon-btn {
  @apply inline-block cursor-pointer select-none !outline-none;
  @apply opacity-75 transition duration-200 ease-in-out align-middle rounded p-2;
  @apply hover:(opacity-100 bg-gray-400 bg-opacity-10);
}

.icon-btn.disabled {
  @apply opacity-25 pointer-events-none;
}

.inline-icon-btn {
  @apply text-primary-deep;
  @apply inline-block rounded p-0.5 text-2xl align-middle;
  @apply border border-primary border-opacity-20 border-solid;
}

p > img {
  @apply rounded-2xl
}

li > svg {
  vertical-align: middle;
  transform: translateY(-10%);
}
