/* for page transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* for crossfade */
.fade-leave-active {
  position: absolute;
  z-index: 10;
  inset: 0;
}
